.avater {
    height: 45px;
    width: 45px;
}



.serach_box{
    width: 80%;
    margin-left: auto;
}

.keyword_search{
   width: 80%; 
}

.head_wrapper{
    align-items:center;
    justify-content:space-between;
    
}

.navbar-default {
background-color: #65baad;
border-color: #3e6962;
}