.avater {
    height: 45px;
    width: 45px;
}



.serach_box{
    width: 80%;
    margin-left: auto;
}

.keyword_search{
   width: 80%; 
}

.head_wrapper{
    align-items:center;
    justify-content:space-between;
    
}

.navbar-default {

border-color: #3e6962;
}

footer{
    font-size: 80%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #313131;
}



footer address{
    color: #fff;
    letter-spacing: 5px;
}


.titile_wrapper{
    position: relative;
}
.titile_wrapper a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
}
   
.navbar-default {
background-color: #65baad;
border-color: #3e6962;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 
footer {
  margin-top: auto;
}
